.navbar {
  height: 11vh !important;
  background-image: linear-gradient(85deg, #223547, #31475a);
  align-items: center; }
  @media screen and (max-width: 600px) {
    .navbar {
      height: 59px !important; } }
  @media screen and (max-width: 1600px) {
    .navbar {
      margin-top: 1%; } }
  @media screen and (max-width: 1400px) {
    .navbar {
      margin-top: 1%; }
      .navbar .color-icono {
        color: #FDD04B !important; } }
  @media screen and (max-width: 1400px) and (max-width: 600px) {
    .navbar .fas, .navbar .far {
      display: none; } }
  @media screen and (max-width: 1400px) and (max-width: 1400px) {
    .navbar .fas, .navbar .far {
      display: none; } }
  .navbar .navbar-toggler-icon {
    outline: none; }
    @media screen and (max-width: 600px) {
      .navbar .navbar-toggler-icon {
        background-image: url("../img/logo1.png");
        width: 40px;
        height: 40px; } }
  @media screen and (max-width: 1400px) {
    .navbar .navbar-nav {
      margin-top: 0rem;
      margin-left: 0px;
      padding-left: 1rem; } }
  @media screen and (max-width: 600px) {
    .navbar .navbar-nav {
      margin-top: 0px;
      margin-left: 0px; } }
  .navbar .dropdown-menu a {
    font-size: 0.7rem; }
  .navbar .dropdown:hover > .dropdown-menu {
    display: block;
    background-color: #FDD04B;
    width: 200px; }
    @media screen and (max-width: 600px) {
      .navbar .dropdown:hover > .dropdown-menu {
        display: none; } }
  .navbar .dropdown > .dropdown-toggle:active {
    pointer-events: none; }
  .navbar .text-color-navbar {
    color: #FDD04B !important; }
    .navbar .text-color-navbar:hover {
      color: #ffffff !important; }
    .navbar .text-color-navbar .nav-text {
      text-shadow: -1px -1px 2px #312d2d, 1px 1px 2px #223547; }
      @media screen and (max-width: 1400px) {
        .navbar .text-color-navbar .nav-text {
          font-size: 1rem; } }
      @media screen and (max-width: 600px) {
        .navbar .text-color-navbar .nav-text {
          font-size: 10px;
          color: #FDD04B; } }
      .navbar .text-color-navbar .nav-text:hover {
        border-bottom: 3px solid #223547;
        border-radius: 6px; }

.navbar__logo--img {
  height: 89px !important;
  width: 90px !important;
  margin-bottom: 3rem !important;
  margin-left: 2rem;
  margin-top: 3px; }
  @media screen and (max-width: 1600px) {
    .navbar__logo--img {
      margin-top: 3px; } }
  @media screen and (max-width: 1400px) {
    .navbar__logo--img {
      margin-left: 40%;
      margin-top: 3px;
      height: 79px !important;
      width: 80px !important; } }
  @media screen and (max-width: 600px) {
    .navbar__logo--img {
      display: none; } }

.servicios-home {
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0px;
  height: 55vh;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  position: static;
  box-shadow: 2px 2px 10px -1px #141f2afd, -1px -1px 7px -4px #e7e5de; }
  .servicios-home .bg-uno {
    width: 33.3%;
    background-image: url("../img/servi2.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .servicios-home .bg-uno:hover {
      transform: scale(1.1);
      transition: .5s ease;
      padding-left: 1rem;
      border: 3px solid #ffffff;
      z-index: 9; }
    .servicios-home .bg-uno .serv-text {
      color: #FDD04B;
      margin-top: 6rem;
      text-decoration: underline;
      text-shadow: 1px 1px  2px #312d2d; }
      @media screen and (min-width: 768px) {
        .servicios-home .bg-uno .serv-text {
          margin-top: 1rem; } }
  .servicios-home .bg-dos {
    width: 33.3%;
    background-image: url("../img/servi1.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
    .servicios-home .bg-dos:hover {
      transition: .5s ease;
      transform: scale(1.1);
      border: 3px solid #ffffff;
      z-index: 9; }
    .servicios-home .bg-dos .serv-text {
      color: #FDD04B;
      margin-top: 5.5rem;
      text-decoration: underline;
      text-shadow: 1px 1px  2px #312d2d; }
      @media screen and (min-width: 768px) {
        .servicios-home .bg-dos .serv-text {
          margin-top: 1rem; } }
  .servicios-home .bg-tres {
    width: 33.3%;
    background-image: url("../img/4p_van.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 0px; }
    .servicios-home .bg-tres:hover {
      transition: .5s ease;
      transform: scale(1.1);
      border: 3px solid #ffffff;
      z-index: 9; }
    .servicios-home .bg-tres .serv-text {
      color: #FDD04B;
      margin-top: 6rem;
      text-decoration: underline;
      text-shadow: 1px 1px  2px #312d2d; }
      @media screen and (min-width: 768px) {
        .servicios-home .bg-tres .serv-text {
          margin-top: 1rem; } }
  .servicios-home--btn {
    padding: 12px;
    color: #223547;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #ffffff; }
    .servicios-home--btn:hover {
      transition: all 0.2s ease;
      color: #FDD04B;
      box-shadow: 0.5px 0.5px 2px #ffffff; }

.container {
  margin-top: 15px;
  padding: 0;
  display: block;
  position: relative;
  top: 50px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FDD04B;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #2e2e2e; }
  @media screen and (min-width: 1400px) {
    .container {
      width: 100%;
      height: 500px;
      opacity: 0.9;
      text-align: center; } }
  @media screen and (max-width: 1400px) {
    .container {
      display: none; } }
  .container__items {
    border-radius: 3px;
    width: 100vw;
    position: sticky;
    background-color: #223547;
    color: #FDD04B; }
    .container__items a {
      color: #FDD04B;
      text-decoration: underline; }
    .container__items a:hover {
      background-color: #FDD04B;
      opacity: 0.8;
      color: #ffffff; }
  .container__text {
    padding-top: 15px;
    color: #ffffff; }
    .container__text h4 {
      margin: 0;
      padding: 0;
      color: #223547; }
    .container__text--bioUno img {
      height: 500px;
      padding-bottom: 3rem; }
    .container__text--bioUno p {
      margin-top: 10rem;
      width: 50%;
      float: right; }
    .container__text--bioDos img {
      height: 60vh;
      float: right;
      padding-bottom: 3rem; }
    .container__text--bioDos p {
      margin-top: 10rem;
      width: 30%; }
    .container__text--bioTaller {
      margin-top: 3rem; }

.container-blog {
  background-image: url(/img/curso-online-mecanico-bicicletas_amp_primaria_1_1560503049.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }
  @media screen and (min-width: 1400px) {
    .container-blog {
      margin: 0;
      padding: 0 0 1rem 0; } }
  @media screen and (max-width: 1400px) {
    .container-blog {
      display: none; } }

@media screen and (max-width: 600px) {
  footer .fas {
    display: none; } }

footer div a {
  color: #ffffff;
  text-decoration: none; }
  footer div a:hover {
    color: #FDD04B !important; }

.bg-azul {
  background-image: linear-gradient(85deg, #223547, #31475a); }
  @media screen and (max-width: 600px) {
    .bg-azul .row {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap; } }

.titulo-amarillo {
  color: #FDD04B !important;
  font-size: 1.5rem; }
  @media screen and (max-width: 600px) {
    .titulo-amarillo {
      font-size: 1rem; } }

.text-secondary {
  font-size: 0.5rem;
  margin: 0; }
  .text-secondary .edev {
    font-size: 0.5rem !important;
    margin: 0; }

.img-footer {
  margin: 3rem 0 0 0;
  height: 100px;
  width: 100px; }
  @media screen and (max-width: 1400px) {
    .img-footer {
      display: none; } }

#about {
  line-height: 50px;
  color: #223547; }
  #about h2, #about h3 {
    color: #FDD04B; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

#separador {
  background-color: #e9e9e9;
  border-bottom: 1px solid #d9d9d9;
  color: #414141;
  padding: 5vh 0;
  text-align: center;
  vertical-align: middle; }
  @media screen and (max-width: 600px) {
    #separador {
      padding: 3vh 0; } }

/**INDEX.HTML**/
/**INDEX.HTML**/
.bg-card {
  padding: 2rem;
  text-align: start;
  display: block;
  position: absolute;
  background-image: linear-gradient(150deg, #223547e5, #313941);
  background-size: cover;
  height: 40vh;
  width: 25vw;
  z-index: 9;
  top: 50%;
  left: 64%;
  border-radius: 10px;
  box-shadow: 8px 8px 10px -2px #141f2afd, -2px -5px 8px -1px #a9a8a8af; }
  .bg-card:hover {
    background-color: #363b41f6; }
  @media screen and (max-width: 1600px) {
    .bg-card {
      height: 43vh;
      width: 30vw;
      top: 48%;
      background-image: linear-gradient(150deg, #22354700, #31394100);
      box-shadow: none;
      top: 40%; }
      .bg-card:hover {
        background-color: #363b4100; } }
  @media screen and (max-width: 1400px) {
    .bg-card {
      height: 28vh;
      background-image: linear-gradient(150deg, #22354700, #31394100);
      box-shadow: none; }
      .bg-card:hover {
        background-color: #363b4100; } }
  @media screen and (max-width: 600px) {
    .bg-card {
      background-image: linear-gradient(150deg, #22354700, #31394100);
      box-shadow: none;
      width: 150px;
      top: 25%;
      left: 38%; }
      .bg-card:hover {
        background-color: #363b4100; } }
  .bg-card h3 {
    font-size: 2rem;
    margin: 10% auto 2%;
    color: #ffffff; }
    @media screen and (max-width: 1400px) {
      .bg-card h3 {
        font-size: 1rem;
        margin: 2% auto 2%; } }
    @media screen and (max-width: 600px) {
      .bg-card h3 {
        font-size: 0.5rem;
        margin: 1% auto 1%; } }
  .bg-card h4 {
    font-size: 3rem;
    margin: 10% auto 2%;
    color: #FDD04B; }
    @media screen and (max-width: 1400px) {
      .bg-card h4 {
        font-size: 1.5rem; } }
  .bg-card .top2 {
    width: 200px;
    top: 60%;
    left: 70%;
    background-color: #e2dfdf;
    color: #223547;
    overflow: hidden;
    opacity: 0.8;
    transition: .5s;
    box-shadow: 2px 4px 8px -1px #141f2afd, -2px -2px 7px -4px #e7e5de; }
    .bg-card .top2:hover {
      background-color: #FDD04B; }
    .bg-card .top2::before {
      content: 'Contactanos'; }
    .bg-card .top2:hover::before {
      display: none;
      transition: .5s; }
    .bg-card .top2:hover::after {
      content: 'Click Aqui';
      color: #ffffff;
      transition: .5s; }
    @media screen and (max-width: 1400px) {
      .bg-card .top2 {
        width: 170px; } }
    @media screen and (max-width: 600px) {
      .bg-card .top2 {
        width: 130px;
        font-size: 0.9rem; } }

.parallax-completo {
  width: 100%;
  background-attachment: fixed; }

.sombra {
  box-shadow: 1px 2px 10px -1px #141f2afd, -1px -1px 10px -4px #e7e5de; }

.slider-texto {
  display: block;
  position: absolute;
  z-index: 8;
  top: 50%;
  left: 8%;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 5rem;
  color: #ffffff;
  opacity: 0.8; }
  @media screen and (max-width: 1400px) {
    .slider-texto {
      font-size: 2rem;
      top: 45%; } }

@media screen and (max-width: 600px) {
  .img-sizing {
    width: 100%;
    height: 20vh; } }

/**ABOUT.HTML**/
