.navbar {
  margin-top: 2%;
  height: 15vh;
  z-index: 10; }
  @media screen and (max-width: 1400px) {
    .navbar .color-icono {
      color: #FDD04B !important; } }
  @media screen and (max-width: 600px) {
    .navbar .navbar-toggler-icon {
      background-image: url(/img/Asset7.png);
      width: 50px;
      height: 60px; } }
  .navbar .dropdown-menu a {
    font-size: 0.7rem; }
  .navbar .dropdown:hover > .dropdown-menu {
    display: block;
    background-color: #FDD04B;
    width: 200px; }
    @media screen and (max-width: 600px) {
      .navbar .dropdown:hover > .dropdown-menu {
        display: none; } }
  .navbar .dropdown > .dropdown-toggle:active {
    pointer-events: none; }
  .navbar .navbar-bg-color {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 2rem;
    margin-bottom: 2%;
    color: #ffffff; }
  .navbar .text-color-navbar {
    color: #FDD04B !important; }
    .navbar .text-color-navbar:hover {
      color: #ffffff !important; }
    .navbar .text-color-navbar .border-azul {
      display: inline;
      text-shadow: -1px -1px 2px #312d2d, 1px 1px 2px #223547; }
      @media screen and (max-width: 600px) {
        .navbar .text-color-navbar .border-azul {
          display: inline;
          font-size: 1rem;
          color: #FDD04B;
          display: block; } }
      @media screen and (max-width: 1400px) {
        .navbar .text-color-navbar .border-azul {
          font-size: 1rem;
          padding: 10px; } }
      .navbar .text-color-navbar .border-azul:hover {
        border-bottom: 3px solid #223547;
        border-radius: 6px; }

.navbar__logo--img {
  height: 89px !important;
  width: 90px !important;
  margin-bottom: 3rem !important;
  margin-left: 2rem;
  background-color: #223547;
  border-radius: 999px; }
  @media screen and (max-width: 1600px) {
    .navbar__logo--img {
      margin-top: 3rem; } }
  @media screen and (max-width: 1400px) {
    .navbar__logo--img {
      display: flex;
      margin-right: 0px;
      width: 100px;
      height: 100px; } }
  @media screen and (max-width: 600px) {
    .navbar__logo--img {
      display: none; } }

.servicios {
  display: flex; }
  .servicios__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 70%;
    color: #ffffff; }
    @media screen and (min-width: 1400px) {
      .servicios__container {
        height: 64rem; } }
    @media screen and (max-width: 1400px) {
      .servicios__container {
        flex-direction: column; } }
    .servicios__container__box--izq {
      transition: 2s  ease-out;
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vh;
      justify-content: center;
      width: 200px;
      text-align: start; }
      .servicios__container__box--izq .bg-uno {
        background-image: url(/img/servi1.jpg) !important;
        background-size: cover; }
      .servicios__container__box--izq .bg-dos {
        background-image: url(/img/servi2.jpg);
        background-size: cover; }
      .servicios__container__box--izq .bg-tres {
        background-color: rebeccapurple; }
      @media screen and (min-width: 1400px) {
        .servicios__container__box--izq {
          border: 1px solid #ffffff;
          box-shadow: none; } }
      @media screen and (max-width: 1400px) {
        .servicios__container__box--izq {
          flex-direction: column;
          width: 100vw;
          height: 40vh;
          border: 1px solid #ffffff;
          padding: 3rem;
          box-shadow: none; } }
      .servicios__container__box--izq--btn {
        padding: 12px;
        color: #223547;
        border: none;
        outline: none;
        border-radius: 4px;
        background: #ffffff; }
        .servicios__container__box--izq--btn:hover {
          transition: all 0.2s ease;
          color: #FDD04B;
          box-shadow: 0.5px 0.5px 2px #ffffff; }

.container {
  margin-top: 15px;
  padding: 0;
  display: block;
  position: relative;
  top: 50px;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #FDD04B;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #2e2e2e; }
  @media screen and (min-width: 1400px) {
    .container {
      width: 100%;
      height: 500px;
      opacity: 0.9;
      text-align: center; } }
  @media screen and (max-width: 1400px) {
    .container {
      display: none; } }
  .container__items {
    border-radius: 3px;
    width: 100vw;
    position: sticky;
    background-color: #223547;
    color: #FDD04B; }
    .container__items a {
      color: #FDD04B;
      text-decoration: underline; }
    .container__items a:hover {
      background-color: #FDD04B;
      opacity: 0.8;
      color: #ffffff; }
  .container__text {
    padding-top: 15px;
    color: #ffffff; }
    .container__text h4 {
      margin: 0;
      padding: 0;
      color: #223547; }
    .container__text--bioUno img {
      height: 500px;
      padding-bottom: 3rem; }
    .container__text--bioUno p {
      margin-top: 10rem;
      width: 50%;
      float: right; }
    .container__text--bioDos img {
      height: 60vh;
      float: right;
      padding-bottom: 3rem; }
    .container__text--bioDos p {
      margin-top: 10rem;
      width: 30%; }
    .container__text--bioTaller {
      margin-top: 3rem; }

.container-blog {
  background-image: url(/img/curso-online-mecanico-bicicletas_amp_primaria_1_1560503049.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; }
  @media screen and (min-width: 1400px) {
    .container-blog {
      margin: 0;
      padding: 0 0 1rem 0; } }
  @media screen and (max-width: 1400px) {
    .container-blog {
      display: none; } }

@media screen and (max-width: 600px) {
  footer .fas {
    display: none; } }

footer div a {
  color: #ffffff;
  text-decoration: none; }
  footer div a:hover {
    color: #FDD04B !important; }

.bg-azul {
  background-image: linear-gradient(85deg, #223547, #31475a); }

.titulo-amarillo {
  color: #FDD04B !important;
  font-size: 1.5rem; }

.text-secondary {
  font-size: 0.5rem;
  margin: 0; }
  .text-secondary .edev {
    font-size: 0.5rem !important;
    margin: 0; }

.img-footer {
  margin: 3rem 0 0 0;
  height: 100px;
  width: 100px; }
  @media screen and (max-width: 1400px) {
    .img-footer {
      display: none; } }

* {
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; }
  .video .bg-card {
    text-align: center;
    display: block;
    position: absolute;
    background-image: linear-gradient(150deg, #223547e5, #313941);
    background-size: cover;
    height: 40vh;
    width: 25vw;
    z-index: 9;
    top: 50%;
    left: 64%;
    border-radius: 10px;
    box-shadow: 8px 8px 10px -2px #141f2afd, -2px -5px 8px -1px #a9a8a8af; }
    .video .bg-card:hover {
      background-color: #363b41f6; }
    @media screen and (max-width: 1600px) {
      .video .bg-card {
        height: 43vh;
        top: 48%; } }
    @media screen and (max-width: 1400px) {
      .video .bg-card {
        height: 28vh; } }
    @media screen and (max-width: 600px) {
      .video .bg-card {
        background-image: linear-gradient(150deg, #22354700, #31394100);
        box-shadow: none;
        width: 150px;
        left: 62%; }
        .video .bg-card:hover {
          background-color: #363b4100; } }
    .video .bg-card h3 {
      font-size: 2rem;
      margin: 10% auto 2%;
      color: #ffffff; }
      @media screen and (max-width: 1400px) {
        .video .bg-card h3 {
          font-size: 1rem;
          margin: 5% auto 2%; } }
    .video .bg-card h4 {
      font-size: 3rem;
      margin: 10% auto 2%;
      color: #FDD04B; }
      @media screen and (max-width: 1400px) {
        .video .bg-card h4 {
          font-size: 1.5rem; } }
    .video .bg-card .top2 {
      width: 200px;
      top: 60%;
      left: 70%;
      background-color: #e2dfdf;
      color: #223547;
      overflow: hidden;
      opacity: 0.8;
      transition: .5s;
      box-shadow: 2px 4px 8px -1px #141f2afd, -2px -2px 7px -4px #e7e5de; }
      .video .bg-card .top2:hover {
        background-color: #FDD04B; }
      .video .bg-card .top2::before {
        content: 'Contactanos'; }
      .video .bg-card .top2:hover::before {
        display: none;
        transition: .5s; }
      .video .bg-card .top2:hover::after {
        content: 'Click Aqui';
        color: #ffffff;
        transition: .5s; }
      @media screen and (max-width: 1400px) {
        .video .bg-card .top2 {
          width: 170px; } }
      @media screen and (max-width: 600px) {
        .video .bg-card .top2 {
          width: 130px;
          font-size: 0.9rem; } }
  .video .parallax-completo {
    width: 100%;
    background-attachment: fixed; }

.motivation {
  height: 80vh; }

.slider-texto {
  display: block;
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 8%;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 5rem;
  color: #ffffff;
  opacity: 0.8; }
  @media screen and (max-width: 1400px) {
    .slider-texto {
      font-size: 2rem;
      top: 45%; } }
