$full-W: 100vw;

.container{

    @include web{
        width: 100%;
        height: 500px;
        opacity: 0.9;
        text-align: center;
        
    }
    @include tablet{
        display: none;
    }
    margin-top: 15px;
    padding: 0;
    display: block;
    position: relative;
    top: 50px;
    height: 500px;
    overflow-y:scroll;
    overflow-x: hidden;
    background-color: $amarillo;
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgb(46, 46, 46);

    &__items{
        border-radius: 3px;
        width: $full-W;
        position: sticky;
        background-color: $azul;
        color: $amarillo;
        a {
            color: $amarillo;
            text-decoration: underline;
        }
        a:hover{
            background-color: $amarillo;
            opacity: 0.8;
            color: $color;
        }
    }
    &__text {
        padding-top: 15px;
        color: $color;
         h4{
             margin: 0;
             padding: 0;
             color: $azul;
         }
        &--bioUno{
            
            img{
                height: 500px;
                padding-bottom: 3rem;
            }
          p {
            margin-top: 10rem;
              width: 50%;
              float: right;
          }
          
          
        }
        
        &--bioDos{
            
            img{
                height: 60vh;
                float: right;
                padding-bottom: 3rem;
            }
          p { 
              margin-top: 10rem ;
              width: 30%;
          }
          
          
        }
        &--bioTaller{
            margin-top: 3rem;
        }



       
        
    }

}

.container-blog {
    background-image: url(/img/curso-online-mecanico-bicicletas_amp_primaria_1_1560503049.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    @include web { 
      margin: 0;
      padding: 0 0 1rem 0;
    }
    @include tablet{
        display: none;
    }
}