@import "_colors";
@import "_media-q";

.navbar {
  height: 11vh!important;
  background-image: linear-gradient( 85deg, #223547,   #31475a);
  align-items: center;
              @include mobile {
                height: 59px!important;
              }
              @include web-small{
                margin-top: 1%;
              } 
              @include tablet {
                
                  margin-top: 1%;
              

                    .color-icono{
                  color: $amarillo!important;
                }
                
  .fas, .far {
              @include mobile{
                display: none;
              }
              @include tablet {
                display: none;
                
              }
    }
       }

  .navbar-toggler-icon{
    outline: none;
   
    @include mobile{
      background-image: url('../img/logo1.png');
      width: 40px;
      height: 40px;
  }
}
  .navbar-nav {
    
    @include tablet{
      margin-top: 0rem;
      margin-left: 0px;
      padding-left: 1rem;
    }
      @include mobile {
        margin-top: 0px;
        margin-left: 0px;
      }
  }
  

  .dropdown-menu a{
    font-size: 0.7rem;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
    background-color: $amarillo;
    width: 200px;
    @include mobile {
      display: none;
    }
  }
  
  .dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }


   
    .text-color-navbar {
      color: $amarillo !important;
      
              &:hover {
                color: $color !important;
                
              }
    
      .nav-text {
        text-shadow: -1px -1px  2px #312d2d,
        1px 1px 2px#223547;
        
                  @include tablet {
                    font-size: 1rem;
                  }
                  @include mobile {

                    font-size: 10px;
                    color: $amarillo;

                  }


        
                    &:hover{

                      border-bottom: 3px  solid $azul;
                      border-radius: 6px;
                      
                    }
      }
     
    }
  }

  .navbar__logo--img {  
    height: 89px!important;
    width: 90px!important;
    margin-bottom: 3rem!important;
    margin-left: 2rem;
    margin-top: 3px;
    @include web-small{
      margin-top: 3px;
    }
    @include tablet {
      margin-left: 40%;
      margin-top: 3px;
      height: 79px!important;
      width: 80px!important;
    }
    @include mobile {
      display: none;
    }
  }
