@import "_colors";
@import "_media-q";

.navbar {
  height: 15vh;
  z-index: 10;
  margin-top: 2%; 
  @include web-small{
    margin-top: 1%;
  } 
  @include tablet {
    
      margin-top: 1%;
      .color-icono{
      color: $amarillo!important;
    }
       }
  .navbar-toggler-icon{

   
    @include mobile{
      background-image: url('../img/Asset7.png');
      border-radius: 999px;
      width: 40px;
      height: 40px;
      outline: none;
  }
}
  .dropdown-menu a{
    font-size: 0.7rem;
  }
  .dropdown:hover>.dropdown-menu {
    display: block;
    background-color: $amarillo;
    width: 200px;
    @include mobile {
      display: none;
    }
  }
  
  .dropdown>.dropdown-toggle:active {
    pointer-events: none;
  }

  .navbar-bg-color {
    //background-image: linear-gradient(to right, #22354778,   #3a3e4149);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 2rem;
    margin-bottom: 2%;
    color: $color;
    }


   
    .text-color-navbar {
      color: $amarillo !important;
     
      &:hover {
        color: $color !important;
     
      }
    
      .border-azul {
        display: inline;
        text-shadow: -1px -1px  2px #312d2d,
        1px 1px 2px#223547;
         
        @include mobile {

          font-size: 1rem;
          color: $amarillo;

        }

        @include tablet {

          font-size: 1rem;
          padding: 10px;
        
        }

        
        &:hover{

          border-bottom: 3px  solid $azul;
          border-radius: 6px;
          
        }
      }
     
    }
  }

  .navbar__logo--img {  
    height: 89px!important;
    width: 90px!important;
    margin-bottom: 3rem!important;
    margin-left: 2rem;
    background-color: #223547;
    border-radius: 999px;

    @include web-small{
      margin-top: 3rem;
    }
    @include tablet {
      margin-right: 0px;
      width: 100px;
      height: 100px;
    }
    @include mobile {
      display: none;
    }
  }
