$full-W: 100vw;
#servicios {

    .bg__servicios-uno {
        width: 100%;
        height: 100vh;
        background-image: url('../img/servi2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
     
        .serv-text {
            padding: 10rem;
            color: $amarillo;
            margin-top:6rem;
            text-shadow: 1px 1px  2px #312d2d;
            p{
                color: $color;
            }
            @include tablet-small{
                padding: 3rem;
            }
            @include mobile{
                padding:  3rem;
            }

        }
    }
    .bg__servicios-dos {
        width: 100%;
        height: 100vh;
        background-image: url('../img/servi1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
       
        .serv-text {
            padding: 10rem;
            color: $amarillo;
            margin-top: 5.5rem;
            text-shadow: 1px 1px  2px #312d2d;
            p{
                color: $color;
            }
            @include tablet-small{
                padding:3rem;
            }
            @include mobile{
                padding: 3rem;
            }
        }
    }
    .bg__servicios-tres {
        width: 100%;
        height: 100vh;
        background-image: url('../img/4p_van.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-right: 0px;
       
        .serv-text {
            padding: 10rem;
            color: $amarillo;
            margin-top: 6rem;
            text-shadow: 1px 1px  2px #312d2d;
            p{
                color: $color;
            }
            @include tablet-small{
                padding:3rem;
            }
            @include mobile{
                padding:3rem;
            }
        }
    }
    



    &--btn {
                  
        padding: 12px;
        color: $azul;
        
        border: none;
        outline: none;
        border-radius: 4px;
        background: $color;
        
        &:hover {
            transition: all 0.2s ease ;
            color: $amarillo;
            box-shadow: 0.5px 0.5px 2px $color;
        }
    }
}